*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-color: #ffffff;
    height: 15vh;
    width: 100%;  
}
.caixa-logo-header {
    display: inline-block;
    margin-top: 25px;
    margin-right: 200px;
    
    
}

.logo-texto {
    display: inline-block;
    vertical-align: middle;
}

.logo-header {
    width: 70px;
    height: 70px;
    margin-left: 20px;
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}
    


.logo-h3 {
    color: #d11717;
    font-size: 30px;
    margin-left: 10px;
    margin: 0;
}
.logo-paragrafo {
    color: #d11717;
    font-size: 16px;
    margin: 0;
   
}

.menu-header {
    display: inline-block;
}

.header-menu {
    align-items: right;
    margin-left: 200px;
    display: inline-block;
    vertical-align: middle;
}
a {
    color: #d11717;
    text-decoration: none;
    font-size: 25px;
    align-items: right;
    display: inline-block;
    margin-right: 20px;
}

.sessao01 {
    background-color: #dbdada;
    height: 85vh;
    width: 100%;
    display: block;
    text-align: center;
   
}
.sessao01-h1 {
    color: #d11717;
    font-size: 46px;
    font-weight: bold;
}